<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-245 {
        padding: var(--sectionPadding);
        background: #f1f1f4;
    }
    #reviews-245 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-245 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #reviews-245 .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
    }
    #reviews-245 .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        /* max-width set at tablet */
        /* pushes up by the same amount the cs-item-img overlaps the card */
        margin: 3rem 0 0 0;
        /* 16px - 36px left and right */
        /* 24px - 36px on the bottom */
        padding: 3.75rem clamp(1rem, 2.7vw, 2.25rem)
            clamp(1.25rem, 2.7vw, 2.25rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
        background: #fff;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    #reviews-245 .cs-item-img {
        width: 4.5rem;
        height: 4.5rem;
        position: absolute;
        top: -3rem;
    }
    #reviews-245 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0 0 1.5rem;
        color: var(--bodyTextColor);
    }
    #reviews-245 .cs-flex-group {
        width: 100%;
        padding-top: 1.5rem;
        border-top: 1px solid #dad9e3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    #reviews-245 .cs-reviewer {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        line-height: 1.5em;
        font-weight: 700;
        width: 40%;
        margin: 0 auto 0 0;
        display: block;
        color: var(--headerColor);
    }
    #reviews-245 .cs-desc,
    #reviews-245 .cs-rating {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        font-weight: 400;
        line-height: 1.5em;
        color: #7d799c;
        display: block;
    }
    #reviews-245 .cs-rating {
        margin-right: 0.5rem;
    }
    #reviews-245 .cs-item-stars {
        width: 6em;
        height: 1em;
        /* centers it with the rating to the left */
        margin-bottom: 0.1875rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-245 .cs-container {
        max-width: 80rem;
    }
    #reviews-245 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        /* 16px - 20px */
        column-gap: clamp(1rem, 1.5vw, 1.25rem);
        row-gap: 4rem;
    }
    #reviews-245 .cs-item {
        /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw to get the desired sizes fit 4 in a row and then stack when you add more*/
        width: clamp(31.5%, 30vw, 32.3%);
        max-width: 25.8125rem;
        align-content: space-between;
    }
    #reviews-245 .cs-flex-group {
        /* push contents to the left */
        justify-content: flex-start;
    }
    #reviews-245 .cs-reviewer {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-245 .cs-flex-group {
        flex-wrap: nowrap;
    }
    #reviews-245 .cs-reviewer {
        margin: 0;
    }
    #reviews-245 .cs-item-stars {
        margin-bottom: 0.3125rem;
    }
}

                                
</style>
<span id="reviews"></span>
<section id="reviews-245">
  <div class="cs-container">
      <div class="cs-content">
          <span data-aos="fade-up" class="cs-topper">Our Reviews</span>
          <h2 class="cs-title">What Client’s Say About Us</h2>
          <p class="cs-text">
            We are a small family owned business that takes pride in our work.
          </p>
      </div>
      <ul class="cs-card-group">
          <!-- Review -->
          <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis was the best. He came to assess damage from a lightning strike so I could file my insurance claim and he checked out the grounds coming into the house that ATT and Spectrum had tied onto and said Not Good. He told me what it would cost to fix it and gave him the go ahead. Installed two copper ground rods and tied in the cable and internet boxes and also ran the ground wire into the meter box. Will definitely help to protect from from future lightning and surges. Would definitely recommend Martel Electric and yes he does answer his phone.
            </p>
            <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Art Long
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>









        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis answered my call himself and with pictures diagnosed the problem.  An appointment was scheduled for a few days later.  Dennis showed up at the time specified and handled the work that another electrician messed up. I am very satisfied with the work and will not use anyone else in the future.
            </p>
            <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Neal Ferrari
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>






        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Nice guy. Solid craftsmanship. Will call again.
                <BR><BR>
                Successfully installed<BR>
                - Hardwired Ring Doorbell onto old doorbell with concrete mounting.<BR>
                - Outdoor wall light fixture. He put extra caulk on to ensure the salt stays out.<BR>
                - Outdoor hanging fixture on old roof. Hard install but he managed to fix the old wires.<BR>
                - Electrical plugs and switches.<BR>
            </p>
            <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Mason Moreland
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>





        
        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Called Mr. Martel the day after storm to have the storm damaged exterior meter panel repaired. He came that day to look at the project and see what materials he would need. He showed up Saturday and competed the work on an older system making it better than it was. I will not use anyone else for my electrical needs.  Let all your friends know how good he is!
            </p>
            <div class="cs-flex-group" >
                <span class="cs-reviewer">
                   M L
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>
        




        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis has far exceeded my expectations every time I've utilized his services. He just completed a 3rd job for me and it went as smooth as the previous jobs. I've never had an issue with any of the pieces he's installed and he always accomplishes it within a very reasonable time frame. Can't wait to have him come out for the 4th job later this year.            </p>
            <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Skylyr Strader
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>
        

        
        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Martel Electrical provides professional, competent, and exceptional service. I recommend this company without any reservations. Mr. Martel is prompt, courteous and reliable. He answers the phone and shows up on time. This is a huge bonus. Finding people who do what they say they will is unfortunately becoming more and more rare. I recently remodeled my kitchen and he rewired and replaced all my outlets and lighting fixtures. This was not easy. He had to go into the attic several times. He measured placement and actually discovered mistakes the cabinet installers made. I also had my exterior outlets/fixtures all replaced after hurricane Matthew by Martel Electrical. They helped me weatherproof my home in Ponce Inlet. Don't look for the lowest priced electrician. To get professional and long-lasting results, I recommend Martel Electrical.    </p>
                        <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Jennifer Lee
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>


                
        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
              
                Great guy did a super amazing job.      Def knows his trade 100%.     An his communication is super on par.     Recommend all day for the job to get done.       Thankyou
                </p>
                <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Jennifer Lee
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>

                       
        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis Martel is the only electrician I would recommend for any size electrical job. He was on time, called before arriving and his fee was exactly how he described prior to hiring him. If you need a very friendly professional electrician for your electrical needs, that answers his phone and calmly discusses your electric problem, I would call Mr. Martel. He is highly skilled at troubleshooting electrical problems. He discovered wiring connection issues with a non working GFIC outlet next to our kitchen stove related to original construction from 2002. I called two electricians and got answering machines, next call was personally answered by Mr. Martel, I should have called him first but did not know who to call or trust in the Port Orange, New Smyrna Beach area.
<BR><BR>
                Straight shooter, honest, highly experienced, skilled and VERY professional plus reasonable, I would highly recommend to anyone needing simple or complex electrical repairs to call Dennis first and explain your electrical issue with him. Mr. Martel is a special repairman in a world filled with talkers, fakes and imitations !!!!
                </p>
                <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Glen Horne
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>


                               
        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis arrived in a flash! He was very thorough, knowledgeable, and professional. He fixed the problem right away. I will definitely use him with future electrical issues!
                         </p>
                <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Tommy Bryant
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>
        


        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Dennis figured out the problem with out electric that three previous electricians could not.  He definitely knows what he is doing.                   </p>
                <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Janet G
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>
        


        <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/google.svg" alt="profile picture" width="72" height="72">
            <p class="cs-item-text">
                Cant say enough about the service I received..👍😊             </p>
                <div class="cs-flex-group" >
                <span class="cs-reviewer">
                    Denise Del Nodal
                    
                </span>
                <span class="cs-rating">5.0</span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </div>
        </li>
        



                                




      </ul>
<div class="cs-flex">

      <a target="_blank" href="https://www.google.com/search?q=martel+electrical+port+orange&client=firefox-b-1-d&sca_esv=1926c2955f272b3e&sxsrf=ADLYWIJP2w0iJxZ0o6AGxJc3r3luLoUurQ%3A1723061679133&ei=r9WzZvrqB5PaptQP7u2w4QE&ved=0ahUKEwi6_r362OOHAxUTrYkEHe42LBwQ4dUDCBA&uact=5&oq=martel+electrical+port+orange&gs_lp=Egxnd3Mtd2l6LXNlcnAiHW1hcnRlbCBlbGVjdHJpY2FsIHBvcnQgb3JhbmdlMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHSOQKUABYAHABeACQAQCYAZMBoAGTAaoBAzAuMbgBA8gBAJgCAaACB5gDAIgGAZAGBJIHATGgB74C&sclient=gws-wiz-serp#lrd=0x88e6d7d01301bbd3:0x3985f4e7004a0795,1,,,," class="cs-button-solid">View More Google Reviews</a>


    </div>
</section>
                              